body {
  font-size: 12px; }

.fixed {
  top: 150px;
  z-index: 999; }
  .fixed div {
    width: 40px;
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; }
    .fixed div a {
      color: black;
      font-weight: 700; }
  .fixed div:first-child {
    background-color: black; }
    .fixed div:first-child a {
      color: white; }

.picture-background {
  height: 400px;
  z-index: -999; }

.main_text {
  transform: translateY(-400px); }
  .main_text .nav {
    height: 180px; }
  .main_text .picture-main .lightbox {
    width: 400px;
    height: 400px;
    border-radius: 20px; }
  .main_text .picture-main .lightbox-small {
    width: 70px;
    height: 70px; }

.main_info {
  top: 10px; }

.stars img {
  width: 20px; }

.message img {
  width: 10px; }

.warning {
  background-color: #ffffc9; }
  .warning i {
    color: #ffe77c; }
