body {
  font-size: 12px; }

.fixed {
  top: 150px;
  right: 0;
  z-index: 999; }
  .fixed li {
    width: 40px;
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; }
    .fixed li a {
      color: black;
      font-weight: 700; }
  .fixed li:first-child a {
    color: white; }

main .picture-background {
  height: 400px;
  z-index: -999; }

main .main-text {
  transform: translateY(-400px); }
  main .main-text .nav {
    height: 180px; }
  main .main-text .picture-main .lightbox {
    max-width: 450px;
    width: 30vw;
    max-height: 450px;
    height: 30vw;
    border-radius: 20px; }
  main .main-text .picture-main .lightbox-small {
    width: 70px;
    height: 70px; }

.stars img {
  width: 20px; }

.message img {
  width: 10px; }

.warning {
  background-color: #ffffc9; }
  .warning i {
    color: #ffe77c; }
