body {
  font-size: 12px; }

.fixed {
  top: 150px;
  z-index: 999; }

.picture-main {
  background-image: url(../images/gray-card-750px-01.jpg); }

.main_info {
  top: 10px; }

.stars img {
  width: 10px; }

.message img {
  width: 10px; }

.info_detailed img {
  width: 10px; }

.warning {
  background-color: #ffffc9; }
