body {
   font-size: 12px;
}

.fixed  {
   top: 150px;
   z-index: 999;
   div {
      width: 40px;
      height: 40px;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;

      a {
         color: black;
         font-weight: 700;
      }
   }

   div:first-child {
      background-color: black;
      a {
         color: white;
      }
   }
}

.picture-main {
   background-image: url(../images/gray-card-750px-01.jpg);
   height: ;
}

.main_info {
   top: 10px;
}

.stars img {
   width: 10px; 
}

.message img {
   width: 10px;
}

.info_detailed img {
   width: 10px;
}

.warning {
   background-color: rgb(255, 255, 201);
   i {
      color: rgb(255, 231, 124);
   }
   
}


@media screen and (max-width: 992px) {
   .picture-gallery {
      position: relative!important;
   } 
}