.fixed {
   top: 150px;
   right: 0;
   z-index: 999;

   li {
      width: 40px;
      height: 40px;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;

      a {
         color: black;
         font-weight: 700;
      }
   }

   li:first-child {
      a {
         color: white;
      }
   }
}


main {
   .picture-background {
      height: 400px;
      z-index: -999;
   }

   .main-text {
      transform: translateY(-400px);

      .nav {
         height: 180px;
      }

      .picture-main {
         .lightbox {
            max-width: 450px;
            width: 30vw;
            max-height: 450px;
            height: 30vw;
            border-radius: 20px;
         }

         .lightbox-small {
            width: 70px;
            height: 70px;
         }
      }

      .warning {
         background-color: rgb(255, 255, 201);

         i {
            color: rgb(255, 219, 58);
         }
      }
   }
}